In [1]:
girl_names = ["NAME","Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
girl_ages = ["AGE","17", "16","17","18","16","18","17","20","19","17"]
girl_height = ["HEIGHT","5.5","6.0","5.4","5.9","5.6","5.5","6.1","6.0","5.7","5.5"]
girl_scores = ["SCORE","80","85","70","60","76","66","87","95","50","49"]

boy_names =  ["NAME","Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
boy_ages = ["AGE","19","16","18","17","20","19","16","18","17","19"]
boy_height = ["HEIGHT","5.7","5.9","5.8","6.1","5.9","5.5","6.1","5.4","5.8","5.7"]
boy_scores = ["SCORE","74","87","75","68","66","78","87","98","54","60"]

def teams(name, age, height, scores):
    for i in range(11):
        print(f"\t{name[i]}\t  |{age[i]} \t|{height[i]}\t |{scores[i]}")

print("         DATA ON GIRLS")
teams(girl_names,girl_ages,girl_height,girl_scores)
print('')
print('')
print("         DATA ON BOYS")
teams(boy_names,boy_ages,boy_height,boy_scores)

         DATA ON GIRLS
	NAME	  |AGE 	|HEIGHT	 |SCORE
	Evelyn	  |17 	|5.5	 |80
	Jessica	  |16 	|6.0	 |85
	Somto	  |17 	|5.4	 |70
	Edith	  |18 	|5.9	 |60
	Liza	  |16 	|5.6	 |76
	Madonna	  |18 	|5.5	 |66
	Waje	  |17 	|6.1	 |87
	Tola	  |20 	|6.0	 |95
	Aisha	  |19 	|5.7	 |50
	Latifa	  |17 	|5.5	 |49


         DATA ON BOYS
	NAME	  |AGE 	|HEIGHT	 |SCORE
	Chinedu	  |19 	|5.7	 |74
	Liam	  |16 	|5.9	 |87
	Wale	  |18 	|5.8	 |75
	Gbenga	  |17 	|6.1	 |68
	Abiola	  |20 	|5.9	 |66
	Kola	  |19 	|5.5	 |78
	Kunle	  |16 	|6.1	 |87
	George	  |18 	|5.4	 |98
	Thomas	  |17 	|5.8	 |54
	Wesley	  |19 	|5.7	 |60

In [ ]:
for i in range(2501):
    print("welcome to Izifin Technology")
    name = input('Enter Name: ')
    age = int(input('Enter age: '))
    years_of_exp = int(input('Enter number of years of experience: '))
    if years_of_exp > 25 and age >= 55:
        print('ATR = 5,600,000')
    elif years_of_exp > 20 and age > 45:
        print('ATR = 4,480,000')
    elif years_of_exp > 10 and age >= 35:
        print('ATR = 1,500,000')
    elif years_of_exp <= 10 and age < 35:
        print('ATR = 550,000')
    else:
        print('You are not qualified for the job')

welcome to Izifin Technology

Enter Name:  Nnamdi
Enter age:  26
Enter number of years of experience:  25

You are not qualified for the job
welcome to Izifin Technology