# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [2]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
print(df)

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [7]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

### Column Selection:

In [8]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [9]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [1]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("record.csv")

# print excel
data

   Unnamed: 0     name  degree  score
0           0     Abel     MBA     90
1           1    Kamsi     BCA     40
2           2    Oyode  M.Tech     80
3           3  Chinelo     MBA     98

### Select first row from file

In [4]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("record.csv")

df=data.iloc[0]

# print excel
df

Unnamed: 0       0
name          Abel
degree         MBA
score           90
Name: 0, dtype: object

### Selecting Row with Title Header

In [6]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("record.csv")

df=data.head(1)

# print excel
df

   Unnamed: 0  name degree  score
0           0  Abel    MBA     90

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [13]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [15]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [16]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
record = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(record)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [18]:
import pandas as pd

# Load datasets
top_apps = pd.read_csv("Top-apps.csv")  

print("Top Apps in Google Play:")
print(top_apps.head(7))

top_apps_first_3_cols = top_apps.iloc[:, :3]

print("\nFirst row and header of Top Apps in Google Play:")
print(top_apps.iloc[:1])

Top Apps in Google Play:
   Unnamed: 0                          App Name  \
0           1              Google Play services
1           2                           YouTube
2           3                            Google
3           4  Google Maps - Navigate & Explore
4           5             Google Text-to-Speech
5           6      Google Chrome: Fast & Secure
6           7                             Gmail

                                    App Id                 Category  \
0                   com.google.android.gms                    Tools
1               com.google.android.youtube  Video Players & Editors
2  com.google.android.googlequicksearchbox                    Tools
3             com.google.android.apps.maps           Travel & Local
4                   com.google.android.tts                    Tools
5                       com.android.chrome            Communication
6                    com.google.android.gm            Communication

  Developer Id                                  Developer Website  \
0   Google LLC  https://developers.google.com/android/google-p...
1   Google LLC  https://support.google.com/youtube/topic/24225...
2   Google LLC               https://www.google.com/search/about/
3   Google LLC                      http://maps.google.com/about/
4   Google LLC                             http://www.google.com/
5   Google LLC               http://www.google.com/chrome/android
6   Google LLC  http://support.google.com/mail/bin/topic.py?hl...

                Developer Email Content Rating  Ad Supported  In App Purchases
0          apps-help@google.com       Everyone         False             False
1  ytandroid-support@google.com           Teen          True             False
2          apps-help@google.com       Everyone          True             False
3          apps-help@google.com       Everyone          True             False
4       tts-feedback@google.com       Everyone         False             False
5          apps-help@google.com       Everyone         False             False
6          apps-help@google.com       Everyone          True             False

First row and header of Top Apps in Google Play:
   Unnamed: 0              App Name                  App Id Category  \
0           1  Google Play services  com.google.android.gms    Tools

  Developer Id                                  Developer Website  \
0   Google LLC  https://developers.google.com/android/google-p...

        Developer Email Content Rating  Ad Supported  In App Purchases
0  apps-help@google.com       Everyone         False             False

In [19]:
import pandas as pd

crypto_predict = pd.read_csv("BTC.csv") 

print("\nCryptocurrency Predict Artificial Intelligence V3:")
print(crypto_predict.head(7))

crypto_predict_first_3_cols = crypto_predict.iloc[:, :3]
print("\nFirst row and header of Cryptocurrency Predict Artificial Intelligence V3:")
print(crypto_predict.iloc[:1])

Cryptocurrency Predict Artificial Intelligence V3:
        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%

First row and header of Cryptocurrency Predict Artificial Intelligence V3:
        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

In [20]:
import pandas as pd

prog_lang_trend = pd.read_csv("programmingl.csv")

print("\nProgramming Languages Trend Over Time:")
print(prog_lang_trend.head(7))

prog_lang_trend_first_3_cols = prog_lang_trend.iloc[:, :3]
print("\nFirst row and header of Programming Languages Trend Over Time:")
print(prog_lang_trend.iloc[:1])

Programming Languages Trend Over Time:
        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17
5  5/26/2019      55    57   17
6   6/2/2019      54    58   15

First row and header of Programming Languages Trend Over Time:
        Week  Python  Java  C++
0  4/21/2019      55    55   18

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [7]:
import pandas as pd

# Define consumption categories, segments, and brands
consumption_categories = ['Export', 'Refreshment Beverages', 'Confectionery', 'Intermediate Cocoa Products']

refreshment_brands = ['CADBURY BOURNVITA', 'CADBURY 3-in-1 HOT CHOCOLATE']
confectionery_brands = ['TOMTOM CLASSIC', 'TOMTOM STRAWBERRY', 'BUTTERMINT']
intermediate_cocoa_brands = ['COCOA POWDER', 'COCOA BUTTER', 'COCOA LIQUOR', 'COCOA CAKE']

# Create DataFrame
data = {
    'Segment': [],
    'Brand': []
}

for category in consumption_categories:
    if category == 'Export':
        data['Segment'].append(category)
        data['Brand'].append(', '.join(['COCOA BUTTER', 'COCOA LIQUOR', 'COCOA CAKE']))
    elif category == 'Refreshment Beverages':
        for brand in refreshment_brands:
            data['Segment'].append(category)
            data['Brand'].append(brand)
    elif category == 'Confectionery':
        for brand in confectionery_brands:
            data['Segment'].append(category)
            data['Brand'].append(brand)
    elif category == 'Intermediate Cocoa Products':
        for brand in intermediate_cocoa_brands:
            data['Segment'].append(category)
            data['Brand'].append(brand)

df = pd.DataFrame(data)

# Save DataFrame to CSV
df.to_csv('cadbury_market.csv', index=False)